.buttonBox {
  /* position: absolute; */
  /* width: 100%; */
  /* top: 0; */
  /* display: flex; */
  /* justify-content: space-between; */
}

.button {
  /* padding: 1.2rem 2.4rem;
     */
  border: none;
  font-size: 2.4rem;
  background-image: linear-gradient(var(--text-0), var(--text-1));
  /* color: black; */
  width: 7.5rem;
  height: 7.5rem;
  cursor: pointer;
  top: 0%;
  position: absolute;
}

.rightButton {
  right: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 30%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 30%);
  transition: all 0.2s;
}
.rightButton:hover {
  right: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 25%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 25%);
}
.leftButton {
  transition: all 0.2s;
  left: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 30% 30%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 30% 30%, 0 100%);
}
.leftButton:hover {
  left: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 25% 25%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 25% 25%, 0 100%);
}

@media (max-width: 70em) {
  .button {
    width: 7.5rem;
    height: 7.5rem;
  }
  .rightButton:hover,
  .leftButton:hover,
  .rightButton,
  .leftButton {
    -webkit-clip-path: none;
    clip-path: none;
  }
}
