:root {
  --br: 10px;

  --primary: #ccd5ae;
  --secondary: #e9edc9;
  --tertiary: #fefae0;
  --quartenary: #faedcd;

  --text-0: #8f957a;
  --text-1: #666b57;
  --text-bg: #a3aa8b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  background-color: var(--tertiary);
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Dancing Script", cursive;
}
p {
  font-family: "Dancing Script", cursive;
}

@media (max-width: 70em) {
  html {
    font-size: 50%;
  }
}

@media (max-height: 22em) {
  html {
    font-size: 42.5%;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 30%;
  }
}
